/* Style for all */
* {
    margin: auto;
    text-align: center;
    padding: .5rem;
    background-color: #181a1b;
    color: #e8e6e3;
}

/* Style for IDs */
#menu {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
    width: 70rem;
    height: 21rem;
    border: 0.0625rem solid #000000;
    padding: 1rem;
    place-items: center;
    align-items: center;
    background: linear-gradient(225deg, #da0000, #000bda, #00961c, #c7de00);
    /* , #b700b1, #eaa400); */
}

#players {
    display: grid;
    grid-gap: 1rem;
    width: 20rem;
}

#scoring {
    display: grid;
    grid-gap: 1rem;
    width: 20rem;
}

#divider {
    border: #000000 solid 0.0625rem;
    padding: 0rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color:#eaa400;
}

#startGame {
    display: none;
}

#clock {
    border: #000000 solid 0.0625rem;
    padding: .5rem;
    display: none;
    width: 5rem;
    color: #181a1b;
    background-color: #FFFFFF;
}

#menuHeader {
    font-size: 8rem;
    margin-bottom: 1rem;
}

/* Style for Classes */
.player {
    width: 5rem;
    color: #FFFFFF;
}

.box {
    background-color: #FFFFFF;
    color: #181a1b;
    width: 4.5rem;
    height: 4.5rem;
}

.menuItems {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    transition: all .25s ease;
} 

#menu .menuItems {
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.menuItems:hover {
    transform: scale(1.05);
    box-shadow: 0 .25rem .25rem #0000008c;
}