<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    User: <%- username %> <br>
    Email: <%- email %>
</body>
<script>
    console.log(username, email)
</script>
</html>