<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form action="/login" method="post">
        <legend>username</legend>    
        <input type="text" id="userName" name="userName"><br>
        <legend>password</legend>                
        <input type="password" id="password" name="password"><br>
        <br>
        <input type="submit" id="submit" name="submit">
</body>
</html>