<div class="post">
    <div class="post-author"><a href="/profile/<%= post.poster_uid %>"><%= post.fb_name %></a></div>
    <div class="post-timestamp"><%= new Date(post.time).toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %></div>
    <div class="post-content"><%= post.content %></div>
</div>