<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #121212;
            color: #e0e0e0;
            font-family: Arial, sans-serif;
        }

        a {
            display: flex;
            color: #bb86fc;
            text-decoration: underline #03dac6 ;
            justify-content: center;
        }

        a:hover {
            color: #3700b3;
        }
    </style>
</head>

<body>
    <div id="Greeter"></div>
    <h1><a href="/login">Log In</a><br></h1>
    <h1><a href="/loginFormbar">Formbar Login</a><br></h1>
    <!-- Change this if not running locally -->
    <h1><a href="https://formbar.yorktechapps.com/oauth?redirectURL=http://localhost:3000/">Head To The Chat</a><br></h1>

</body>
<script>
    const user = '<%= user %>';
    if (user) {
        document.getElementById('Greeter').innerHTML = `<h1>Welcome, ${user}</h1>`;
    }
</script>

</html>