<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <div id="chat-container">
        <div id="messages"></div>
        <form id="chat-form">
            <input type="text" id="message-input" placeholder="Type a message..." autocomplete="off" required>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        
        const user = '<%= username %>';

        const chatForm = document.getElementById('chat-form');
        const messageInput = document.getElementById('message-input');
        const messages = document.getElementById('messages');

        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            socket.emit('chatMessage', { user, message });
            messageInput.value = '';
            console.log(`Sent message: ${message}`);
        });

        socket.emit('join', user);

        socket.on('join', (user) => {
            console.log(`User ${user} has joined the chat`);
            const messageElement = document.createElement('div');
            messageElement.innerHTML = `<strong>${user}</strong> has joined the chat`;
            messages.appendChild(messageElement);
        });

        socket.on('chatMessage', ({ user, message }) => {
            const messageElement = document.createElement('div');
            console.log(`Received message from ${user}: ${message}`);
            messageElement.innerHTML = `<strong>${user}</strong>: ${message}`;
            messages.appendChild(messageElement);
        });
    </script>
</body>
</html>