<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
    <style>
        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
        }

        th,
        td {
            padding: 12px 20px;
            text-align: left;
        }

        th {
            font-size: 16px;
            text-transform: uppercase;
        }

        td {
            font-size: 14px;
            color: #555;
        }
    </style>
</head>

<body>
    <h2>Game High Scores</h2>
    <table>
        <tr>
            <th>User #</th>
            <th>User's IP</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </table>
</body>

</html>