<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            background-color: rgb(72, 46, 116);
        }

        th,td {
            padding: 12px, 20px;
        }

        th {
            font-size: 16px;
            text-transform: uppercase;
        }

        td {
            font-size: 12px;
            color: #523333;
        }
        /*I was told not to leak anyone ip*/
    </style>
</head>
<body>
    <h2>Game High Scores</h2>
    <table>
        <tr>
            <th>User #</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% scores.forEach(entry => {%>
            <tr>
                <td><%= entry.uid %></td>
                <td><%= entry.name %></td>
                <td><%= entry.score %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>