<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music share Register</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/gif" href="/ms.gif">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="POST" class="box">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit" class="btn">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>
</html>