<%- include('../partials/head.ejs') %>

    <body>
        <% if(viewport==="online" ) { %>
            <a href="/print"><button class="printButton">Print</button></a>
            <% } %>
    </body>
    <%- include('../partials/foot.ejs') %>