:root {
    --header-color: #ff4500;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
    margin: 0;
    padding: 0;
}

button {
	padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
button:hover {
    cursor: pointer;
	background-color:#ddd;
}
button:active {
	position:relative;
	top:1px;
}

.header {
    height: 50px;
    background-color: var(--header-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button {
    margin: 10px 10px;
}

#logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

#logo:hover {
    cursor: pointer;
}

#logo-link {
    text-decoration: none;
}

#login-button {
}

#greeting {
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content {
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread {
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
}

.thread:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

/* I did not know you could do this. Very nifty. */
.thread:first-of-type {
    border-top: 1px solid #ddd;
}

.thread-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.thread-content {
    margin: 10px 0 0;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.post-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-content {
    margin: 10px 0px;
}

.post-timestamp {
    font-size: 12px;
    color: #888;
}