<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eee Jay Ess</title>
</head>
<body>
    <h1>Add</h1>

    <form id="from" action="POST" action="/add">
        <input type="color">
        <input type="radio">
        <input type="password">
        <input type="range">
        <input type="submit" value="">
    </form>


    <a href="add">Add</a>
    <a href="view">View</a>
    
</body>
</html>