<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>who are you?</title>
</head>
<body>
    <h1>sandwich INC.</h1> <br>
    <a href="/login">Login</a> <br>
    <a href="/signup">Signup</a>
</body>
</html>