<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="jermaStuff/jermaDonut.png">
    <title>Title</title>
    <style>
        div {
            font-size: 5vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            margin: 10px;
            margin-top: 12.5%;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <a href="/highscores"><div>HIGHSCORES</div></a>
    <a href="/game"><div>GAME</div></a>
    
</body>
</html>