<%- include('partials/header') %>
<body>
    <% if(typeof viewport !== 'undefined' && viewport === "online") {%>
        <a href="/print"><button id="button">PRINT</button></a>
    <%}%>
</body>
<%- include('partials/footer') %>