<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            height: 100vh;
        }

        .chatbox {
            flex: 1;
            background-color: white;
        }

        .messagebox {
            position: absolute;
            width: 90%;
            height: 30px;
            bottom: 0;
        }

        .user-list {
            display: block;
            width: 10%;
            background-color: grey;
        }

        .user-list li {
            display: inline-block;
            list-style-type: none;
            color: black;
        }

        .user-list li p {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="chatbox">
        <input class="messagebox">

        </input>
    </div>

    <div class="user-list">
        <li id="user-list">
            <p>Users:</p>
        </li>
    </div>

    <script>
        const name = "<%= username %>";
        const ws = new WebSocket("ws://localhost:3000");
        
        ws.onopen = () => {
            // Send the name of the user to the server
            ws.send(JSON.stringify({
                name
            }));

            ws.onmessage = (message) => {
                const data = JSON.parse(message.data);
                const names = data.names;
                const messageData = data.text;

                // Handle users
                if (names) {
                    const userList = document.getElementById("user-list");
                    for (const name of names) {
                        const li = document.createElement("li");
                        const p = document.createElement("p");
                        p.textContent = name;
                        li.appendChild(p);
                        userList.appendChild(li);
                    }
                    console.log(names);
                }

                // Handle messages
                if (messageData) {
                    console.log(message);
                }
            }
        };
    </script>
</body>
</html>
