<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Clothing</title>
</head>
<body>
    <form action = "/add" method = "POST">
        <select name = "brand">
            <option value = "T-shirt">T-shirts</option>
            <option value = "Hoodie">Hoodies</option>
            <option value = "Suit">Suits</option>
            <option valut = "Socks">Programing Socks</option>
        </select>
        <input type = "number" min = "1" name = "quantity">
        <button type = "submit">Order Clothes</button>
    </form>
</body>
</html>