
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thingy</title>
</head>
<body>
    <h1>SODA!!!!</h1>
<a href = "/add">Order a soda</a>
<a href = "/view">View sodas</a>
</body>
</html>