<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing</title>
</head>
<body>
    <% if(orders) {%>
    <ol>
        <% for(order of orders) { %>
            <li><%= order.quantity %> <%=order.brand %> </li>
            <% } %>
    </ol>
    <% } %>
</body>
</html>