<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Game</title>
    <style>
        body {
            margin: 0px;
            overflow: hidden;
        }

        #canvas {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid black;
        }
    </style>
    <script src="public/js/socket.io.js"></script>
</head>

<body>
    <canvas id="canvas"></canvas>

    <script>
        const GAME_CODE = `<%- gameCode %>`;
        const MY_TURN = Number(`<%- myTurn %>`);
        let board = JSON.parse(`<%- board %>`);
    </script>

    <script src="public/js/main.js"></script>
</body>

</html>