<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4 of em'</title>
</head>
<body>
    <h1>Connect 4 of em'</h1>
    <a href="/joingame"><button>Join Game</button></a>
    <a href="/creategame"><button>Create Game</button></a>
</body>
</html>