<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parting on the partial</title>
    <style>
           .myButton {
            background-color: #0b5ef7;
            border-radius: 10px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 19px;
            padding: 12px 37px;
        }
    </style>
</head>
<body>
</body>
</html>
<body>
    
</body>
</html>