<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form actions="/add" method="POST">
<select name="item">
    <option value="bread">Bread</option>
    <option value="egg">Egg</option>
    <option value="butter">Butter</option>
    <option value="grapes">Grape</option>
</select>
<input type=" type=number" min="1" name="amount">
<button type="submit">Order thing</button>


    </form>
</body>
</html>