<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <form action="/login" method="post">
        <input name = "user" type="text" placeholder="Username">
        <input name = "pass" type="password"placeholder="Password">
        <input type="pass" name="" id="">
        <input type= "submit" value="Submit">
    </form>
</body>
</html>