<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff me dont know</title>
    <style>
        body {
            background-color: black;
            color: rgb(117, 2, 98);
        }
    </style>
</head>

<body>
    <a href="/login">
        <button>Login</button></a>
    <a href="/conv">
        <button>Chat</button></a>
</body>

</html>