<body>

    <div id="chat-container">
        <div id="page-container">
            <div id="roomList">
                <ul>
                    Rooms: 
                    <li><button onclick="joinRoom('general')">General</button></li>
                </ul>
            </div>
            <div id="chat-container"></div>
            <div id="chat-container">
                <div id="chat">
                    <div id="chat-messages"></div>
                    <div id="message-container">
                    </div>
                    <div id="message-container">
                        <input type="text" id="mess" placeholder="Type a message..." />
                        <button id="send">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>