<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Hello <%-user %></h1>

    <form action="/profile" method="post">
        <legend>Check da box </legend>
        <input type="checkbox" name="cBox" value="check"><br><br>
        <input type="submit" name="Submit"><br><br><br>
    </form>
    <a href="/">Go Home!</a>
</body>

</html>