<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var localName = "<%= name %>";
    </script>
    <style>
        #userList {
            width: 10%;
            height: 150px;
            overflow-y: auto;
            float: left;
            border-style: solid;
        }

        #messageList {
            width: 70%;
            height: 300px;
            border-style: solid;
        }
    </style>
    <script>
        function newDoc() {
            let textBoxContent = document.getElementById('chatInput');
            if (textBoxContent.value) {
                // CODE MESSAGE STUFF HERE
            } else {
                alert('Type a Message');
            }
        }
    </script>
</head>

<body>
    <div id="userList">User List</div>
    <div id="messageList">Message List</div>
    <div>Type Here
        <input name="username" type="text" id="chatInput" class="required">
        <button onclick="newDoc()">Send</button>
    </div>
</body>

</html>