<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
</head>
<body>
    <h1>High Scores</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% scores.forEach(score => { %>
            <tr>
                <td><%= score.name %></td>
                <td><%= score.score %></td>
            </tr>
        <% }) %>
    </table>
    <a href="/">Go back</a>
</body>
</html>