<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invading Space - Homepage</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #504b4b;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 15px 30px;
            margin: 10px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
        }

        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="img/pixels.jpg">
        <h1>Welcome to the Invading Space!</h1>
        <p>Select a version to play:</p>
        <a href="game" class="button">Regular Game (Slower enemies and you're one shot)</a>
        <a href="game_hard" class="button">Hard Mode (faster enemies and you're one shot)</a>
        <a href="no_pass" class="button">No Pass ( Even slower enemies that spawn less)</a>
        <a href="multiplayer" class="button">Online multiplayer!</a>
        <a href="lore" class="button">Click Here For Lore!</a>

    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    socket = io();
</script>
</html>