<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='/style.css'>
    <title>SplatoonD</title>
</head>
<body>
        <h1 id='menuHeader'>SplatoonD</h1>
        <div id='menu'>
            <button class='menuItems' id='game' href='/game'>Game</button>
            <button class='menuItems' id='login' href='/login'>Login</button>
            <button class='menuItems' id='leaderboard' href='/leaderboard'>Leaderboard</button>
            <button class='menuItems' id='settings' href='/settings'>Settings</button>
        </div>
</body>
</html>