<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='/style.css'>
    <title>SplatoonD - Login</title>
</head>
<body>
    <h1 id='menuHeader'>SplatoonD Login</h1>
    <div id='loginMenu'>
        <form id='loginForm' action='/login' method='post'>
            <input class='loginInput' name='username' type='text' placeholder='Username'><br>
            <input class='loginInput' name='password' type='password' placeholder='Password'><br>
            <input class='menuItems' id='loginSubmit' class='menuItems' type='submit' value='Submit'>
        </form>
        <button class='menuItems' onclick='window.location.href = `/oauth`'>Formbar Oauth2</button>
        <button class='menuItems' onclick='window.location.href = `/register`'>Register</button>
    </div>
</body>
</html>