<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #conversationPage {
            top: 10%;
            width: 50%;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div id="conversationPage"></div>
    <script>
        let conversationNumber = JSON.parse(`<%- conversationNumber %>`);
        for (let conversation of conversationNumber) {
            let newConversation = document.createElement('button');
            newConversation.classList.add('conversation');
            newConversation.backgroundColor = 'white'
            newConversation.style.position = 'relative';
            newConversation.style.width = '100%';
            newConversation.style.height = '50px';
            newConversation.textContent = conversation.title

            newConversation.addEventListener('click', () => {window.location.href = `/chat?conversationNumber=${conversation.uid}&name=${`<%-name%>`}`;});
            document.getElementById('conversationPage').appendChild(newConversation)
            console.log('New conversation added');
            
        }
        addConversationBox = document.createElement('div');
        addConversation = document.createElement('button');
        addConversationBox.backgroundColor = 'darkgray'
        addConversationBox.style.position = 'relative';
        addConversationBox.style.width = '100%';
        addConversationBox.style.height = '100px';
        addConversationBox.classList.add('conversation');
        addConversation.backgroundColor = 'white'
        addConversation.style.position = 'relative';
        addConversation.style.width = '100%';
        addConversation.style.height = '50px';
        addConversation.textContent = 'Add Conversation'
        newConversationName = document.createElement('input');
        newConversationName.placeholder = 'Enter new conversation name';
        newConversationName.style.position = 'relative';
        newConversationName.style.width = '100%';
        newConversationName.style.height = '50px';
        addConversationBox.appendChild(addConversation)
        addConversationBox.appendChild(newConversationName);
        addConversationBox.classList.add('addConversation');
        addConversation.classList.add('addConversation');
        newConversationName.classList.add('addConversation');

        addConversation.addEventListener('click', () => {
            if (newConversationName.value.trim() === '') {
            alert('Please enter a conversation name.');
            return;
            }
            fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ newConversationName: newConversationName.value })
            })
            location.reload();
        });
        document.getElementById('conversationPage').appendChild(addConversationBox);
        isName();

        function isName() {
            let urlParams = new URLSearchParams(window.location.search);
            let name = urlParams.get('name');

            if (name) {
                document.getElementsByClassName('addConversation').style.visibility = 'visible';
            } else {
                document.getElementsByClassName('addConversation').style.visibility = 'hidden';
            }
            }
    </script>
</body>

</html>