<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>High Scores</h1>
    <h2>These are the top 10 scorers</h2>
    <h3>Placement, IP, Name, Score</h3>
        <ol>
            <% scores.forEach(score => { %>
                <li>
                    <%= score.ip %>,
                    <%= score.name %>,
                    <%= score.score %>
                </li>
            <% }) %>
        </ol>
    <a href="/">Return to menu</a>
</body>

</html>