<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <a href="/login">login here!</a><br>
    <a href="/profile">view profile here!</a><br>
</body>
</html>