<%- include('partials/header') %>
<body>
    <div id="test">test</div>

    <script>
        if (`<%-viewport%>` == 'online') {
            var printButton = document.createElement('button');
            printButton.id = 'printbutton';
            printButton.innerHTML = 'Print New Page';
            printButton.onclick = function() {
                window.location.href = '/print';
            };
            document.body.appendChild(printButton);
            
        }
    </script>
</body>
<%- include('partials/footer') %>