<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Mover</title>
</head>


<body>
    <style>
        #canvas {
            border-style: solid;
            border-color: blueviolet;
        }
    </style>
    <canvas  id="canvas" width="800" height="600">

    </canvas>
    <button onclick='toggleCanvas' id="canvasButton">Show Canvas</button>
</body>



    <script>

function toggleCanvas() {
    // get the clock
    var canvas = document.getElementById('canvas');

    // get the current value of the clock's display property
    var displaySetting = canvas.style.display;

    // also get the clock button, so we can change what it says
    var clockButton = document.getElementById('clockButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
      // clock is visible. hide it
      myClock.style.display = 'none';
      // change button text
      clockButton.innerHTML = 'Show clock';
    }
    else {
      // clock is hidden. show it
      myClock.style.display = 'block';
      // change button text
      clockButton.innerHTML = 'Hide clock';
    }
  }

//=====================================================================================>
        var player = {
            x: 100,
            y: 100,
            w: 50,
            h: 50,
            img: new Image()
        }


        player.img.src = "./blackguy.jpg"


        window.addEventListener('gamepadconnected', (e) => {
            function movement() {
                var gamepad = navigator.getGamepads()[0]
                // left
                if (gamepad.axes[0] < -0.5) {
                    
                }
                // right
                if (gamepad.axes[0] > 0.5) {
                    
                }
                // down
                if (gamepad.axes[1] > 0.5) {
                    
                }
                // up
                if (gamepad.axes[1] < -0.5) {
                    
                }

                requestAnimationFrame(movement)

            }
            movement()
        })

        const charSpeed = 3
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext("2d");


        function drawSprite() {
            ctx.clearRect(0, 0, canvas.width, canvas.height)
            ctx.font = "30px serif";
            ctx.fillStyle = 'black';
            ctx.fillText("Gamepad", 10, 30);
            ctx.fillText(`X: ${player.x.toFixed(2)}, Y: ${player.y.toFixed(2)}`, 10, 70)
            ctx.drawImage(player.img, player.x, player.y, player.w, player.h);
            console.log('sprite drawn')
        }

        window.addEventListener('gamepadconnected', (event) => {
            console.log('Gamepad connected:', event.gamepad);
            function movement() {
                var gamepad = navigator.getGamepads()[0]

                if(gamepad) {
                    if (gamepad.axes[0] < -0.5) {
                        player.x -= charSpeed
                        console.log('left')
                    }

                    if (gamepad.axes[0] > 0.5) {
                        player.x += charSpeed
                        console.log('right')
                    }

                    if (gamepad.axes[1] < -0.5) {
                        player.y -= charSpeed
                        console.log('down')
                    }

                    if (gamepad.axes[1] > 0.5) {
                        player.y += charSpeed
                        console.log('up')
                    }

                    if (player.x + player.w > canvas.width)
                        player.x = canvas.width - player.w;
    
    
                    if (player.y + player.h > canvas.height)
                        player.y = canvas.height - player.h;
                    
                    if (player.x < 0) {
                        player.x = 0
                    }

                    if (player.y < 0) {
                        player.y = 0
                    }

                    drawSprite()
                    
                }
                requestAnimationFrame(movement)
            }
            movement();
        }
    );
    </script>

</html>