<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGMA TESTER</title>
</head>
<body>
    TEST IF YOU ARE SIGMA <br>
    <a href="add">CLICK HERE</a>
    TO TEST
</body>
</html>