<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username page probably</title>
</head>

<body>
    <p class="error">
        <%= (locals?.error) ? error : '' %>
    </p>
    <form action="/chat" method="get" id="setNameForm">
        <input type="text" name="name" placeholder="Name" id="name">
        <button type="submit">To Chat</button>
    </form>

    <script>
        let form = document.getElementById('setNameForm');
        let name = document.getElementById('name');

        form.addEventListener('submit', (submit) => {
            submit.preventDefault();

            if (name.value !== '') {
                form.submit();
            }
        });
    </script>
</body>

</html>