<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crazy.com</title>
</head>
<body>
    User: <%= (user === '') ? "N/A" : user %><br>
    Email: <%= (email === '') ? "N/A" : email %>
</body>
</html>