<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to VirtualPets !!</title>
</head>

<body>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="submit" value="Login"></input>
    </form>
</body>

</html>