<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add" method="POST">
        <select name="brand">
            <option value="Coke">Coke</option>
            <option value="Pepsi">Pepsi</option>
            <option value="HaydenSuperSigmaSoda">Hayden Super Sigma Soda</option>
            <option value="Bepis">Bepis</option>
        </select>
        <input type="number" min="1" name="quantity">
        <button type="submit">Order da soder bobble</button>
    </form>
</body>

</html>