<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

</head>

<body>
    <style>
        #users {
            padding: 10px;
            float: left;
            border-color: blue;
            border-radius: 20px;
            border-style: solid;
            height: 825px;
            width: 200px;
            overflow-y: auto;
        }

        #chatBox {
            padding: 10px;
            margin-left: 200px;
            height: 825px;
            overflow-y: scroll;
            overflow-x: auto;
            display: list-item;
        }

        #messageBox {

            padding: 10px;
            width: 80%;
            height: 25px;
            position: absolute;
            float: left;
            margin-top: 850px;

        }

        #Send {
            padding: 10px;
            float: right;
            height: 10%;
            width: 60px;
            margin-right: 30px;
            margin-top: 850px;
        }
    </style>

    <div id="users"></div>
    <input type="text" id="messageBox">
    <button id="Send" onclick="sendMessage()">Send</button>
    <div id="chatBox"></div>

</body>
<script>
    const ws = new WebSocket("ws://localhost:3000")
    let name = `<%= name %>`


    ws.onopen = function () {
        ws.send(JSON.stringify({ name: name }));

    };

    ws.onmessage = function (mess) {
        var mess = JSON.parse(mess.data)
        console.log(mess.list)

        if (mess.list) {
            let users = document.getElementById("users");
            users.innerHTML = ''
            for (name in mess.list) {
                console.log(mess.list[name]);
                users.innerHTML += mess.list[name] + "<br>";
            }
        };

        if (mess.text) {
            document.getElementById("chatBox").innerHTML += mess.name + ": " + mess.text + "<br>";
        }
    };

    function sendMessage() {
        const inputMessage = document.getElementById("messageBox").value

        console.log(inputMessage);
        ws.send(JSON.stringify({ name: name, text: inputMessage }))
    };

</script>

</html>