<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Homepage</title>
    <script>

    </script>
</head>

<body>
    <form action="/chat" method="get">
        <legend for="user">Whats your name? </legend>
        <input id="user" type="text" name="name" required>
        <button type="submit">Submit here</button>
    </form>
</body>

</html>