<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #mainpage {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: darkseagreen;
        }

        #subpage {
            position: absolute;
            align-content: center;
            text-align: center;
            border: 1px black solid;
            border-radius: 7.5%;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 60%;
            background-color: aqua;
        }

        #databox {
            position: relative;
            align-content: center;
            text-align: center;
            border: 1px black solid;
            border-radius: 7.5%;
            top: 0%;
            left: 43.75%;
            width: 12.5%;
            height: 30%;
            background-color: aquamarine;
        }

        #buttons {
            position: relative;
            align-content: center;
            text-align: center;
            width: fit-content;
            height: fit-content;
            background-color: cadetblue;
            border-radius: 10%;
        }

        .mousepointer:hover {
            position: relative;
            cursor: pointer;
          }
    </style>
</head>
<body>
    <div id="mainpage">
        <div id="subpage">
            <div id="databox">
                Username: <%- name %> <br> <br>
                ID: <%- id %> <br> <br>
                Box Status: <%- boxCheck %> 
            </div>
            <form action="/profile" method="post"><br>
                <input class='mousepointer' type="checkbox" name="checkBox">
                <input id='buttons' class="mousepointer" type="submit">
            </form> <br>
            <button id="buttons"><a href="/">Go Back</a></button>
        </div>
    </div>
</body>
</html>