<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <script>
        var viewpoint = "offline";
    </script>
</head>

    
                <style>
    body {
        background-color: #ffe0b2;
        color: #e65100;
    }

    button,
    div {
        border-radius: 0;
        border: 2px dashed #e65100;
        padding: 10px;
        margin: 10px;
    }

    button {
        background-color: #ffcc80;
        color: #bf360c;
    }

    div {
        background-color: #ffab91;
    }
</style>
                    

                        <body>
                            Welcome to the home page!

                            
                        </body>

                        </html>