<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form action="/chat?name=1&b=2">
        <label>Username:</label>
        <input type="text" id="username" name="name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>