<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome!</h1>
    <a href="/add"> Create Monster</a>
    <a href="/views"> Veiw Monsters</a>
</body>

</html>