#mainPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 92, 134);
}

#contentBox {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 86%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

#conversationBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: rgb(70, 112, 177);
    overflow-x: scroll;
}

#chatBox {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 86%;
    background-color: rgb(0, 28, 65);
    overflow-y: scroll;
}

#messageContainer {
    position: absolute;
    top: 94%;
    left: 0;
    width: 100%;
    height: 6%;
}

#messageBox {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 79.5%;
    height: 89.5%;
}

#messageButton {
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
}

.normalReceivedMessages {
    position: relative;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 3px solid black;
    align-content: center;
    text-indent: 10px;
    text-shadow: 2px 2px 2px rgb(110, 110, 110);
    word-wrap:break-word;
}

.serverReceivedMessages {
    position: relative;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 20%;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    border: 3px solid black;
    align-content: center;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.roomButton {
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: rgb(18, 150, 155);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

.roomButton:hover {
    background-color: rgb(10, 97, 100);
    color: rgb(204, 204, 204);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}

.selectedRoomButton {
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: rgb(10, 97, 100);
    color: rgb(204, 204, 204);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.selectedRoomButton:hover {
    cursor: pointer;
}