<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
</head>

<body>
    <form id="room-list">

    </form>
    <form id="chat-form">
        <input id="message-input" autocomplete="off" placeholder="Type a message..." />
        <button type="submit">Send</button>
    </form>
    <ul id="messages"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const roomForm = document.getElementById("room-list");
        const chatForm = document.getElementById("chat-form");
        const messageInput = document.getElementById("message-input");
        const messages = document.getElementById("messages");

        socket.on("loginSuccess", (username) => {
            socket.username = username
        });

        //listen for chatForm submit
        chatForm.addEventListener("submit", (e) => {
            e.preventDefault();
            let message = messageInput.value.trim();
            if (message) {
                socket.emit("chat message", message);
                messageInput.value = "";
            };
        });

        //listen for incoming messages
        socket.on("chat message", (msg) => {
            const li = document.createElement("li");
            const timestamp = "(" + new Date().toLocaleTimeString() + "): ";
            li.textContent = `${socket.username}, ${timestamp}` + msg;
            messages.appendChild(li);
            messages.scrollTop = messages.scrollHeight;
        });
    </script>
</body>

</html>