<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, <%= user %></h1>
    <% if (conversations) { %>
        <h3>Available Conversations</h3>
        <ul>
            <% conversations.forEach((conversation) => { %>
                <li><a href="/conversation/<%=conversation.uid%>"><%= conversation.name %></a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <h3>No Available Conversations</h3>
    <% } %>

    <a href="/newConversation">Start a New Conversation</a>
</body>
</html>