<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Conversation</title>
</head>
<body>
    <form method="POST" action="/newConversation">
        <label for="convoName">Conversation Name:</label>
        <input type="text" name="convoName" id="conName"> <br>
        <label for="convoText">Post: </label>
        <textarea name="convoText" id="conText" rows="5" cols="40"></textarea>
        <input type="submit">
    </form>
</body>
</html>