<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat and stuff</title>
    <script>
         let name = req.query
    </script>
</head>
<body>

</body>
</html>