<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat and stuff</title>
    <script>
         let name = req.query
    </script>
</head>
<body>
    let name = req.query
    var localName = <%- name %>
    <div name="userList" float="left">User List</div>
    <div name="messageBox"></div>
    <div name="typeBox"></div>
    <button name="sender">Send</button>
</body>
</html>