<%- include('partials/header')%>
<body>
    Welcome to home page Hue-man
    <% if (viewpoint==='online' ) { %>
        <button onclick="window.location.href='/print'">Print</button>
        <% } %>
</body>
<%- include('partials/footer')%>