<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR YOU!</title>
</head>
<body>
    <h1>sandwich INC.</h1> <br>
    <h3>this you guys?</h3> <br>
    User: <%= (user === '') ? "N/A" : user %><br>
    Email: <%= (email === '') ? "N/A" : email %>
</body>
</html>