<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room</title>
  <script>
    var localName = "<%= user %>";
  </script>
  <style>
    #roomList {
      width: 10%;
      height: 150px;
      overflow-y: auto;
      float: left;
      border-style: solid;
    }

    #messages {
      width: 70%;
      height: 300px;
      border-style: solid;
      overflow-y: auto;
    }
  </style>

</head>

<body>
  <h1>Welcome to the  room!</h1>

  <div id="messages"></div>

  <form id="input-form">
    <label for="message">Enter Message:</label>
    <input type="text" id="message" name="message"><br><br>
    <input type="submit" value="Send">
  </form>

  <script src="/socket.io/socket.io.js">
  </script>

  <script>
    const socket = io();
    var arg;
    var slashCommand;
    var dateTime;
    var room = socket.room

    socket.on("connect", () => {
      console.log('Connected to server');
    });

    socket.on("disconnect", () => {
      console.log('Disconnected from server');
    });

    socket.on("message", (data) => {
        const message = document.createElement("p");
        message.innerHTML = ` ${new Date()} ${data.user} ${data.message}`;
        document.getElementById("messages").appendChild(message);
      });

    document.getElementById("input-form").addEventListener("submit", (event) => {
      event.preventDefault();
      const message = document.getElementById("message").value;
      var slashCommand;
      var arg;
      var dateTime;

      if (message.length > 0) {
        // DETECTING SLASH COMMANDS IS WORKING
        let messageText = document.getElementById("message").value;
        const messageArray = messageText.split(" ");
        let slashCommand = messageArray[0];
        let arg = messageArray[1];

        console.log(slashCommand);
        console.log(arg);
        if (slashCommand == "/leave") {
          socket.emit("leave", {
            user: localName,
            arg: arg
          });
          console.log("user left room");
        }
        else if (slashCommand == "/join") {
          socket.emit("joinRoom", {
            user: localName,
            arg: arg
          });
          console.log("user joined room");
        }
        else  {
          socket.emit("message", {
           user: localName,
           message: message,
           dateTime: window.dateTime
         });
         document.getElementById("message").value = "";
         console.log("Message sent");
        }      
      }
      });
  </script>
</body>

</html>