<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        function sendMessage() {
            const message = document.getElementById("message").value;
            socket.emit("message", message);
            console.log(`${username} sent a message: ${message}`);
        };

        socket.on("message", (msg) => {
            console.log(`Received message: ${msg}`);
            const messageContainer = document.getElementById("messages");
            messageContainer.appendChild(username + ": " + msg);
        });
    </script>
</head>

<body>
    <h1>Chat</h1>
    <p>Welcome, <%= username %></p>
    <input type="text" id="message" placeholder="Enter message...">
    <button onclick="sendMessage()">Send</button>
    <br>
    <div id="messages"></div>
    <br>
    <a href="/">Go back to home</a>
</body>

</html>