<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O!</title>
</head>

<body>
    <form action="/chat" method="get">
        <input type="text" name="name" id="username" required>
        <br>
        <button type="submit" id="submit">
            That's the thing, <br> I have no idea...
        </button>
    </form>
</body>

</html>