<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>POST DEMO</title>
</head>

<body>
    <form action="/add" method="POST">
        <div>
            <label>Username</label>
            <input type="text" id="user" name="username" required />
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="pass" name="password" required />
        </div>
        <button type="submit">
            Submit
        </button>
    </form>
</body>

</html>