<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>User Profile</h1>
    <p><strong>ID:</strong>
        <%= user.id %>
    </p>
    <p><strong>Name:</strong>
        <%= user.displayName %>
    </p>
    <p><strong>Email:</strong>
        <%= user.emails[0].value %>
    </p>
    <a href="/logout">Logout</a>
</body>

</html>