<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go back</a>
    <ol>
        <% entriesfor.Each(entry.siteName => { %>
            <a href="/view?entry=<siteName>"></a>
            if ()

            Website or Account name: <%= entry.siteName %>,
            Username: <%= entry.user %>, 
            Password: <%= entry.password %>
        <% }); %>
    </ol>
</body>
</html>