<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poster</title>
<style>
   
        #eachPost {
            border-style: solid;
            border-color: rgb(168, 43, 226);
            width: 300px;
            overflow-y: auto;
            overflow-x: scroll;
            padding: 30px;
        }

        #individualPost {
            border-style: solid;
            border-color: rgb(230, 170, 238);
            width: 300px;
            overflow-y: auto;
            margin-top: 10px;
        }
    
</style>
  </head>
<body>
    <div>
      <div id="eachPost">
        <% post.forEach((con)=> { %>

            <div id="individualPost">
                <a href="/eachposter/<%=con.poster%>"><%= con.fb_name %></a>
                <p> <%= con.content %></p>
                <p><%= con.time %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>