<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/login">Click here to go to your login page!</a> <br>
    <a href="/postList">Click here to go to your profile page!</a>
</body>
</html>