<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT!</title>

</head>

<body>
    <style>
        #nameList {
            float: left;
            border: 2px double black;
            height: 930px;
            width: 185px;
            overflow-y: auto;
        }

        #chatBox {
            background-color: white;
            margin-left: 200px;
            height: auto;
            overflow-y: scroll;
            overflow-x: auto;
            display: list-item;
        }

        #messageBox {
            background-color: white;
            width: 675px;
            height: 25px;
            position: absolute;
            float: right;
            margin-top: 900px;

        }

        #Send {
            background-color: white;
            float: right;
            height: 30px;
            width: 55px;
            margin-top: 900px;
        }
    </style>

    <div id="nameList"></div>
    <input type="text" id="messageBox">
    <button id="Send">Send</button>
    <div id="chatBox"></div>

    <script>
        const ws = new WebSocket("ws://localhost:3000")
        const name = `<%= name %>`
        let userList = document.getElementById("userList")
        let msgBox = document.getElementById("messageBox")
        let sendButton = document.getElementById("Send")
        let chatBox = document.getElementById("chatBox")

        ws.onopen = function () {
            ws.send(JSON.stringify({ name: name }));
        };

        ws.onmessage = function(message) {
            let message = JSON.parse(message.data)

            if (message.hasOwnData("list")) {
                newMSG(message.list)
            }
        };


        function newMSG() {

        }

    </script>
</body>

</html>