<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to the Chat Room !!</title>
</head>

<body>
    <!-- This is the login form for the chat application -->
    <input id="user" type="text" placeholder="Username">
    <button onclick="login()">Login!!</button>


</body>
<script>
    // This function handles the login process
    function login() {
        var userName = document.getElementById("user");
        userName = userName.value
        if (!userName) {
            alert("Please enter your username :)");

        } else {
            window.location.href = "/chat?name=" + userName;
        }
    }
</script>

</html>