<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <a href="/login">Login</a>
    </div>
    <script>
        // if (req.session.user) {
        //     console.log('User is logged in');
        // } else {
        //     console.log('User is not logged in');
        // }   
    </script>
</body>
</html>