<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="text-align: center; border: 2px solid black">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% scores.forEach(score => { %>
        <tr style="border: 1px solid gray;">
            <td><%= score.name %></td>
            <td><%= score.score %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>