<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drink order</title>
</head>

<body>
    <form action="/add" method="POST">
        <select name="brand">
            <option value="Coca Cola">oreo cola</option>
            <option value="Pepsi">cherri pepsi</option>
            <option value="Mirinda">skibidi toilet water</option>
            <option value="Fanta">citrus acid</option>
            <option value="Sprite">Sigma Sprite</option>
        </select>
        <input type="number" min="1" name="quantity">
        <button type="submit">Finish Order</button>
    </form>

</body>

</html>