<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>which would you like to do?</h1>
    <a href="/add">drink order</a>
    <a href="/view">view your order</a>

</body>

</html>