#mainPage {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#gamePage{
    position: absolute;
    top: 6%;
    left: 5%;
    width: 90%;
    height: 88%;
    background-color:deepskyblue;
    border: 1px solid black;
}

#timerBox {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    height: 100px;
    background-color: dodgerblue;
}

#buttonPage{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 320px;
    height: 320px;
    background-color: aquamarine;
}

#scoreBox {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    background-color: cornflowerblue;
}

.gameButton {
    position: relative;
    width: 40px;
    height: 40px;

}