@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "roboto", Arial;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.result-container {
    display: flex;
    height: 50vh;
    width: 100vw;
    font-size: 150px;
    justify-content: center;
    align-items: center;
}

#box {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.calculations {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.calculations input, .calculations select {
    margin: 0 5px;
}

.calculations select {
    border-radius: 10px;
}

.number {
    width: 100px;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.btns input {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: rgb(62, 62, 133);
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.btns input:disabled {
    background-color: lightgray;
    transform: scale(100%);
}

.btns input:active {
    transform: scale(98%);
}