<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
</head>
<body>
    <form action="/add" method="POST">
        <select name="brand" value=" ">
            <option value="Coke">Coke</option>
            <option value="Pepsi">Pepsi</option>
            <option value="Sprite">Sprite</option>
            <option value="Fanta">Fanta</option>
        </select>
        <input type="number" min="1" name="quantity" value="1">
        <button type="submit">order</button>
</body>
</html>