<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    <div id="roomlist" style="border: 1px solid black">
        <div onclick="currentRoom='General';" id="General">General</div>
    </div>
    <div id="msgBox" style="border: 1px solid black"></div>

    <textarea id="text"></textarea>
    <button id="btn">Send</button>
</body>
<script>
    var text = document.getElementById('text')
    var btn = document.getElementById('btn')
    var messageBox = document.getElementById('msgBox')
    var roomlist = document.getElementById('roomlist')
    var socket = io()
    var currentRoom = 'General'
    var myRooms = []
    var currentUser = '<%=user%>'

    socket.emit('newChatter', currentUser)
    document.getElementById(currentRoom).style.color = 'red'

    socket.on('text', (text, user, room) => {
        if (user && room) {
            console.log(text)
            var d = new Date()
            var p = document.createElement('p')
            messageBox.appendChild(p).innerHTML = `(${room}) <b>${user}</b> ${d}: ${text}`
        } else {
            var p = document.createElement('p')
            messageBox.appendChild(p).innerText = `${text}`
        }
    })

    socket.on('nameList', (names) => {
        console.log(names)
        socket.emit('namesMessage', names)
    })

    function printRooms() {
        socket.on('roomList', (list) => {
            roomlist.innerHTML = ''
            myRooms = list
            console.log(myRooms)
            myRooms.forEach(room => {
                var div = document.createElement('div')
                div.setAttribute("onclick", `currentRoom='${room}'; console.log(currentRoom); check()`)
                div.setAttribute("id", `${room}`)
                div.setAttribute('style', 'cursor: pointer;')
                div.innerText = `${room}`
                roomlist.appendChild(div)
            })
            check()
        })
    }

    function check() {
        myRooms.forEach(room => {
            if (room == currentRoom) {
                document.getElementById(room).style.color = 'red'
            } else {
                document.getElementById(room).style.color = 'black'
            }
        })
    }

    btn.addEventListener('click', function () {
        if (slashcommand()) {
            var command = text.value.split(" ")
            if (command[0] == "/join") {
                socket.emit('joinRoom', command[1])
                currentRoom = command[1]
                printRooms()
            } else if (command[0] == "/leave") {
                if (command[1] != "General") {
                    socket.emit('leaveRoom', command[1])
                    currentRoom = myRooms[myRooms.indexOf(command[1]) - 1]
                    printRooms()
                }
            } else if (command[0] == "/users") {
                socket.emit('printUsers', currentRoom)
            }
        } else {
            socket.emit('message', text.value, currentRoom, currentUser)
        }
        text.value = ''
        check()
    })

    // function check() {
    // try {
    // } catch (err) {
    //     console.log(err)
    // }
    //  requestAnimationFrame(check)
    // }
    // check()


    function slashcommand() {
        if (text.value.includes('/')) {
            return true
        } else {
            return false
        }
    }
</script>

</html>