<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
    <link rel="stylesheet" href="style.css">
</head>

<body onload="startGame">
    <div class="container">
        <h1>PONG</h1>
        <h2>You are: <-%PLAYER.id-></h2>

        <div class="game">
            <canvas id="cv" width="800px" height="600px"></canvas>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>