<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body onload="startGame()">
    <div class="container">
        <h1>PONG</h1>
        <h2>You are: <span id="playerID"></span></h2>

        <div class="game">
            <canvas id="cv" width="800px" height="600px"></canvas>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
</body>

<script>
    const socket = io(); //establish socket connection

    socket.on("connect", () => {
        PLAYER.id = socket.id; // Get the player ID from the server
        document.getElementById("playerID").textContent = PLAYER.id; // Display Player ID
    });


    /*----
    Canvas
    ----*/
    const cv = document.getElementById("cv")
    const ctx = cv.getContext("2d");

    /*-----
    Players
    -----*/

    //create player object and define its properties
    const PLAYER = {
        id: null,
        x: 400,
        y: 300,
        w: 25,
        h: 50,
    };

    // Display Player ID in the HTML
    document.getElementById("playerId").textContent = PLAYER.id;

    /*---------------
    keyboard controls
    ---------------*/

    //events
    document.addEventListener("keydown", keyDownHandler, false);
    document.addEventListener("keyup", keyUpHandler, false);

    //direction keys
    let wDown = false;
    let sDown = false;

    //set keys to true when pressed
    function keyDownHandler(e) {
        if (e.code === "KeyW") {
            wDown = true;
        } else if (e.code === "KeyS") {
            sDown = true;
        };
    };
    function keyUpHandler(e) {
        if (e.code === "KeyW") {
            wDown = false;
        } else if (e.code === "KeyS") {
            sDown = false;
        };
    };

    function movePlayer() {
        //move player on key down
        if (sDown) {
            PLAYER.y += 5;
        } else if (wDown) {
            PLAYER.y -= 5;
        };

        // Player cannot leave canvas
        if (PLAYER.y < 0) {
            PLAYER.y = 0;
        } else if (PLAYER.y + PLAYER.h > cv.height) {
            PLAYER.y = cv.height - PLAYER.h;
        }

        socket.emit("move", { id: PLAYER.id, position: { x: PLAYER.x, y: PLAYER.y } }); //emit movement to server

    };

    /*--
    Draw
    --*/

    function draw() {
        ;
        //erase the screen
        ctx.clearRect(0, 0, cv.width, cv.height);

        //draw the player
        ctx.fillRect(PLAYER.x, PLAYER.y, PLAYER.w, PLAYER.h);

    };

    function startGame() {
        function loop() {
            movePlayer();
            draw();
            requestAnimationFrame(loop);
        }
        loop(); //start game loop
    };
</script>

</html>