<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <form action="/add" method="POST">
        <select name="brand">
            <option value="H20">Water</option>
            <option value="Fanta">Fanta(stic)</option>
            <option value="Rainbow Juice">Rainbow Juice</option>
            <option value="????(Random Response)">Random</option>
        </select>
        <input type="Number" min="1" name="quantity">
        <button type="Submit">Order</button>
    </form>
</body>
</html>
