<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Soda</title>
</head>
<body>
        <h1>Order Your Soda</h1>
        <a href="/add">Get Soda</a>
        <a href="/view">View Orders</a>
</body>
</html>


