<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>

    </script>
</head>

<body>
    <form action="/chat" method="get">
        <legend for="user">Enter your name: </legend>
        <input id="user" type="text" name="name" required>
        <input type="submit">
    </form>
</body>

</html>