<%- include('../partials/head.ejs') %>
<body>
    <h1>My New Project</h1>
    <% if (viewport == 'online') { %>
        <a href="/print"><button>Print</button></a>
    <% } %>
</body>
<%- include('../partials/foot.ejs') %>