<%- include('partials/header')%>

    <body>
        <div id="testing">
            this is the homePagee
        </div>
        <% if (viewport==="online" ) { %>
            <button onclick="window.location.href='/print'">print</button>
            <% } %>
    </body>

    <%- include('partials/footer')%>