<%- include('header') %>
<body>
    <div class="container">
        <div id="box1">
            <h1> welcome to the page</h1>
            <% if (viewport === 'online') { %>
               <h4> (now print)</h4>
            <% } else if (viewport === 'offline') { %>
                <h4> (now leave)</h4>
            <% } %>
            <br>
          
        </div>
        <div id="box2">
            <% if (viewport === 'online') { %>
                <button onclick="window.location.href='/print'">Go to Print</button>
            <% } else if (viewport === 'offline') { %>
                <button onclick="window.close()">Leave</button>
            <% } %>
            <p>Viewport: <%= viewport %></p>
        </div>
    </div>
    <script>
console.log('Viewport in index.ejs:', '<%= viewport %>');
    </script>
</body>
<%- include('footer') %>