<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Entries</title>
	<style>
		form pre {
			display: inline-block;
		}

		form input {
			display: inline-block;
		}
	</style>
	<script>
		// Gets form data as JSON then sends it through a POST request
		function submit() {
			const form = document.getElementById("POST");
			const formData = new FormData(form);
			const data = {};
			formData.forEach((value, key) => data[key] = value);

			fetch("/add", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			});
		}
	</script>
</head>
<body>
	<h2>Create account (and give us all your info, thanks)</h2>
	<form id="POST">
		<label for="firstName">First Name:</label>
		<input name="firstName" type="text" >

		<br>

		<label for="lastName">Last Name:</label>
		<input name="lastName" type="text" >

		<br>

		<label for="password">Password: </label>
		<input name="password" type="password" >

		<br>

		<label for="confirmPassword">Confirm password: </label>
		<input name="confirmPassword" type="password" >

		<br>
		
		<label for="confirmPassword">Confirm password: </label>
		<input name="confirmPassword" type="password" >

		<br>

		<label for="favoriteColor">: </label>
		<input name="favoriteColor" type="color" >

		<br>
		
	</form>
	<button onclick="submit()">Submit</button>
</body>
</html>