<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Entries</title>
	<style>
		form pre {
			display: inline-block;
		}

		form input {
			display: inline-block;
			margin: 5px;
		}
	</style>
</head>
<body>
	<h2>Create account (and give us all your info, thanks)</h2>
	<form action="/add" method="POST" id="POST">
		<label for="firstName">First Name:</label>
		<input name="firstName" type="text" >

		<br>

		<label for="lastName">Last Name:</label>
		<input name="lastName" type="text" >

		<br>

		<label for="password">Password: </label>
		<input name="password" type="password" >

		<br>

		<label for="confirmPassword">Confirm password: </label>
		<input name="confirmPassword" type="password" >

		<br>

		<label for="favoriteColor">Favorite Color</label>
		<input name="favoriteColor" type="color" >

		<br>
		
		<label for="leastFavoriteColor">Least Favorite Color</label>
		<input name="leastFavoriteColor" type="color" >

		<br>

		<label for="skibidiLevel">Skibidi Level</label>
		<input name="skibidiLevel" type="range" >

		<br>

		<label for="sodaLikeness">How much do you like soda?</label>
		<input name="sodaLikeness" type="range" >

		<br>

		<!-- <label for="sodaLikeness">How much do you like soda?</label>
		<input name="sodaLikeness" type="range" > -->
		
		<input name="isSigma" type="hidden" value="false" >
		<input name="likesSoda" type="hidden" value="true" >
		<input type="submit">
	</form>
</body>
</html>