<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Entries</title>
	<style>
		form pre {
			display: inline-block;
		}

		form input {
			display: inline-block;
			margin: 5px;
		}
	</style>
</head>
<body>
	<h2>Soda Order</h2>
	<form action="/add" method="POST" id="POST">
		<label for="name">Name:</label>
		<input name="name" type="text" >

		<select name="brand">
			<option value="Coke">Coke</option>
			<option value="Pepsi">Pepsi</option>
			<option value="Sprite">Sprite</option>
			<option value="Fanta">Fanta</option>
			<option value="RC Cola">RC Cola</option>
		</select>

		<label for="quantity">How much soda would you like</label>
		<input type="number" name="quantity" min="1">

		<input type="submit">
	</form>
</body>
</html>