<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Entries</title>
</head>
<body>
    <h1>View Entries</h1>
    <ul>
        <% if (data) { %>
			<ol>
				<% for(const subData of data) { %>
					<li><%= subData.name %> - Quantity: <%= subData.quantity %> - <%= subData.brand %> </li>
				<% } %>
			</ol>
		<% } else { %>
			<p>No entries found</p>
		<% } %>
    </ul>
</body>
</html>