<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>

<body>
    <form action="/add" method="POST">
        <select name="brand">
            <option value="Coca Cola">Coca Cola</option>
            <option value="Pepsi">Pepsi</option>
            <option value="Mirinda">Mirinda</option>
            <option value="Fanta">Fanta</option>
            <option value="Sprite">Sprite</option>
        </select>
        <input type="number" min="1" name="quantity">
        <button type="submit">Finish Order</button>
    </form>

</body>

</html>